@use "../LoadingPage/loading.scss";
@import "../LoadingPage/loading.scss";
/*
TYPE SCALE : 55 / 44 / 35 / 28 / 23 / 18* / 14 / 12 / 9
COLOR : #087f5b / #065a60 / #0b525b / #144552 / #1b3a4b / #212f45 / #272640 / #312244 / #3e1f47 / #4d194d
WHITES : #f8f9fa / #dee2e6 / #868e96 / #212529
*/
/* ****** */ /* GLOBAL */ /* ****** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Quantico", sans-serif;
  background-image: url("../../../public/img/parallax/low-poly-grid-haikei.svg");
  aspect-ratio: 16/9;
}

#hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f8f9fa;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-shadow: 0.1rem 0rem 1rem #000;
  text-align: center;
}

.section-title {
  border-bottom: #f8f9fa 0.1rem dashed;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.3rem;
}

p {
  font-size: 2.3rem;
  color: #f8f9fa;
  text-shadow: 0 0.3rem 0.8rem #000;
  font-weight: 500;
}

code {
  font-family: monospace;
  color: #69db7c;
  font-size: 1.2rem;

  & pre {
    background-color: #343a40;
    padding: 1rem;
    border-radius: 2rem;
  }
}

/* MAIN-NAV // GLOBAL */
/* ****************** */

.main-nav {
  border-bottom: #f8f9fa 0.1rem dashed;
  border-top: #f03e3e 0.5rem solid;
  margin-bottom: 6rem;
  padding: 2.5rem;
  width: 100%;

  display: flex;

  justify-content: space-evenly;
  align-items: center;

  & a:link,
  & a:visited {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #f8f9fa;
    text-decoration: none;
  }

  & a:active,
  & a:hover {
    font-size: 2.3rem;
    text-decoration: line-through;
    color: #dee2e6;
  }
}

.descriptions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3rem);

  & p {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* SECONDARY NAV */
/* ************* */

.second-nav {
  &:link,
  &:visited {
    font-size: 2.3rem;
    padding: 1rem;
    color: #69db7c;
    text-shadow: 0 0.1rem 0.2rem #f8f9fa;
    border: 0.1rem #69db7c solid;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }

  &:active,
  &:hover {
    color: #f8f9fa;
    transition: ease 200ms;
    font-size: 2.8rem;
    padding: 1.1rem;
  }
}

/* MAIN CONTENT / HOME */
/* ******************* */

.main-content {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .horizontal-scale_main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    line-height: 3.5rem;
    padding-bottom: 4rem;
    margin: 0 auto;
  }

  & main img {
    width: 80%;
  }

  & .home-port_img {
    border-radius: 20%;
    box-shadow: 0rem 0.1rem 1.5rem #000;
    background-position: center;
    width: 50%;
  }
}

/* TECH CONTENT */
/* ************ */

.tech-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;

  & #java {
    grid-column: 1 / 4;
  }

  & .link-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  width: 100%;
  margin: 0 auto;

  & .tech_img {
    width: 100%;
  }
}

.img-container_hover {
  position: relative;

  &:hover .descriptions {
    opacity: 1;
    offset: 50%;
    transform: scale(1.1);
    transition: transform 1s;
    box-shadow: rgba(105, 219, 124, 0.1) 0px 9px 30px;
  }
}

.tech-horizontal {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  transition: width 2s;

  & h3 {
    margin-top: 2rem;
    border-bottom: #f8f9fa 0.1rem dashed;
  }
}

/* LINKS CONTENT */
/* ************* */

.form-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;

  & img {
    width: 100%;
  }

  & p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.link-section {
  padding: 2rem;
  background-color: #868e96;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;

  & a:link,
  & a:visited {
    color: #000;
    font-size: 4.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  & a:active,
  & a:hover {
    color: #69db7c;
    font-size: 5.5rem;
    transition: ease 100ms;
  }
}

.contact-form {
  margin: 3rem;

  display: flex;
  flex-direction: column;
  gap: 6rem;

  & input {
    width: 100%;
    height: 10rem;
    padding: 2rem;
    background-color: #343a40;
    color: #f8f9fa;
    border: none;
    border-radius: 0.8rem;
  }

  & input[type="text"] {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  & input[type="email"] {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  & input::placeholder,
  & textarea::placeholder {
    color: #f8f9fa;
    text-transform: uppercase;
  }
  & textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

    border: none;
    background-color: #343a40;
    padding: 2rem;
    border-radius: 0.8rem;
    resize: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: #f8f9fa;
  }
}

.submit-btn {
  font-weight: 700;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  font-size: 5.3rem;
  padding: 1rem;
  color: #f8f9fa;
  text-shadow: 0 0.1rem 0.2rem #f8f9fa;
  border: 0.1rem #69db7c solid;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: color ease-in-out 500ms;

  &:active,
  &:hover {
    color: #69db7c;
  }
}

.styles_scroll-to-top__2A70v {
  background-color: transparent !important;
  box-shadow: rgb(85, 91, 255) 0rem 0rem 0rem 0.3rem,
    rgb(31, 193, 27) 0rem 0rem 0rem 0.6rem,
    rgb(255, 217, 19) 0rem 0rem 0rem 0.9rem,
    rgb(255, 156, 85) 0rem 0rem 0rem 1.2rem,
    rgb(255, 85, 85) 0rem 0rem 0rem 1.5rem !important;
}

/* ************* */
/* MEDIA QUERIES */
/* ************* */

/* 1168PX */
@media screen and (max-width: 73em) {
  body {
    font-size: 1rem;
    font-weight: 500;
  }

  h1 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }
  .hero-section_spacer {
    font-size: 1.3rem;
    width: 25rem;
  }
}

/* 944PX */
@media screen and (max-width: 59em) {
  html {
    font-size: 56.25%;
  }

  h3 {
    font-size: 1.8rem;
  }
}

/* 768PX */
@media screen and (max-width: 48em) {
  body {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}

/* 540PX */
@media screen and (max-width: 34em) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 2.4rem;
  }

  .main-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .link-group {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    width: 100%;
  }

  .descriptions {
    & p {
      font-size: 1.7rem;
    }
  }

  .horizontal-scale_main-content {
    width: 100;
  }
}
