@use "../../partials/parallaxImg";
@import "../../partials/parallaxImg";

.parallax-header_img {
  background-image: url("../../../public/img/parallax/homeBackground.jpg");
  height: 100vh;
  display: flex;
  align-items: center;

  a:link,
  a:visited {
    margin: 0 auto;
  }
}
