<div class="project-wrapper">
  <hr />
  <h3>Advent of Code</h3>
  <div class="status-wrapper">
    <h4>Status</h4>
    <p>WIP</p>
  </div>
  <p>
    I have a love hate relationship with advent of code, on one hand, its a
    great way to think about new unique problems but on the other hand, they are
    just some really tough questions nonetheless, I keep trying, I plan on
    coming back to these some day and finishing them out
  </p>
  <h4>2022</h4>
  <a href="https://github.com/hnucamendi/adventofcode2022">Link to Repo</a>
  <h4>2023</h4>
  <a href="https://github.com/hnucamendi/adventofcode2023">Link to Repo</a>
  <hr />
</div>