<div class="project-wrapper">
  <hr />
  <h3>Arch Linux</h3>
  <p>
    Thats right, I was an Arch Linux user for a while. It was great, it honestly
    is not as hard as people say it is to configure and setup. The only downside
    was that I could not really game on Linux without jumping through a bunch of
    hoops. Wine specifically I could never get to work properly. other than that
    I learned a ton about the linux file structure, formatting files, creating
    partitions, working with package managers, and generally had a lot of fun!
  </p>
  <hr />
</div>