<div class="project-wrapper">
  <hr />
  <h3>Finance Tracker V1</h3>
  <div class="status-wrapper">
    <h4>Status</h4>
    <p>Done</p>
  </div>
  <p>This was a super fun project, at the time I was learning Python, and it was
    my first time coding on Windows bare metal. Apart from that, I really needed
    something to track my finances, so I learned about parsing CSV files,
    working with google cloud, and working on Windows with Powershell. I was
    planning on making a version 2 of this project in Golang (my number 1
    language of choice) but then I lost the need for a tracking tool as I found
    the Mint app. Recently though the Mint app is being deprecated so I might
    have a use for this again
    <a href="https://github.com/hnucamendi/finance-tracker">finance-tracker</a>.
  </p>
  <a>More Details</a>
  <hr />
</div>