<div class="project-wrapper">
  <hr />
  <h3>Tech Write Up</h3>
  <div class="status-wrapper">
    <h4>Status</h4>
    <p>WIP</p>
  </div>
  <p>
    Originally I made this as a cheat sheet for the Road to Hire non profit
    program, I wanted to make a master document for the fundamental concepts of
    JavaScript for the apprentices to learn from. I quickly learned that this
    actually was really fun to research and write up and I wanted to do this for
    more than JavaScript. I plan on writing up more of these, and potentially at
    some point writing a book!
    <a
      href="https://github.com/hnucamendi/codingCheatSheet"
    >CodingCheatSheet</a>.
  </p>

  <a>More Details</a>
  <hr />
</div>