<div class="project-wrapper">
  <hr />
  <h3>Track Commits Road to Hire</h3>
  <div class="status-wrapper">
    <h4>Status</h4>
    <p>Done</p>
  </div>
  <p>
    Here is another project I worked on for the Road to Hire nonprofit program.
    My goal here was to write a script that would track how many hours or
    commits each apprentice made, Ideally this would help us discover if one
    person took over a project in a group scenerio, or if an apprentice
    potentially copied over a project from somewhere else. The purpose was
    really to make the program more fair for everyone. This never ended up being
    used however as Road to Hire had other priorities, and to truly embed into
    the program would take more time than we had available
    <a
      href="https://github.com/hnucamendi/track_commits-R2H"
    >track-commits-R2H</a>.
  </p>

  <a>More Details</a>
  <hr />
</div>