<div class="project-wrapper">
  <hr />
  <h3>NEOVIM</h3>
  <p>
    This is something I am actively working on as I write this, and hopefully I
    stick to this project, I am learning VIM, and trying to use NeoVim as my
    editor. So far I have gotten fairly comfortable with VIM motions, my biggest
    struggle at the moment is understanding how to configure VIM, I dont exactly
    understand why plugins work. Honestly I probably just need to spend a solid
    hour or two learning Lua.
  </p>
  <hr />
</div>