<div class="project-wrapper">
  <hr />
  <h3>Web Scraper</h3>
  <div class="status-wrapper">
    <h4>Status</h4>
    <p>WIP</p>
  </div>
  <p>This project is something I started working on after about 1 year of not
    working in Golang. I needed something to get me backup to speed with the
    syntax. Eventually I want to evolve this project into writing my own
    WebScraper package in Go, for now I am using the 3rd party
    <a href="https://github.com/gocolly/colly">Colly</a>.
  </p>

  <a>More Details</a>
  <hr />
</div>