.navbar {
  border-top: 1px solid #e6e6e6;
  padding: 15px 0;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar ol {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}
