/* PARALLAX IMAGES */
/* *************** */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.parallax-tech_img {
  background-image: url("../../public/img/parallax/moon-night-080919-4989.jpg");
  height: 75vh;
}

.parallax-links_img {
  background-image: url("../../public/img/parallax/Detailed_Lightning-2927.jpg");
  height: 75vh;
}

.wrapper p {
  line-height: 4rem;
  /* text-align: center; */
}

/* 1168PX */
@media screen and (max-width: 73em) {
  .parallax-tech_img {
    display: none;
  }

  .parallax-links_img {
    display: none;
  }
}
