/* PARALLAX IMAGES */
/* *************** */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  width: 100vw;
}

.parallax-header_img {
  background-image: url("../../public/img/parallax/homeBackground.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
}

.parallax-tech_img {
  background-image: url("../../public/img/parallax/Lightning_shopedit1.jpg");
  height: 75vh;
}

.parallax-pd_img {
  background-image: url("../../public/img/parallax/52719_GFM_1-3160.jpg");
  height: 75vh;
}
.parallax-about_img {
  background-image: url("../../public/img/parallax/moon-night-080919-4989.jpg");
  height: 75vh;
}
.parallax-links_img {
  background-image: url("../../public/img/parallax/Detailed_Lightning-2927.jpg");
  height: 75vh;
}

.wrapper p {
  line-height: 4rem;
  /* text-align: center; */
}
