<div class="about-me" id="about-me">
  <h1>Harold Arriola Nucamendi 🇲🇽🇺🇸</h1>
  <div>
    <img
      src="/images/harold-portrait.webp"
      alt="AI generated picture of Harold"
    />
    <p>
      Hey there, I'm a Software Engineer with a knack for developing efficient
      and creative web applications and services. I'm fluent in Go, Node.js,
      React.js, AWS, and Terraform, and I make sure to keep my skills
      razor-sharp to stay in step with the ever-evolving world of web
      development. I spend my days maintaining backend services, contributing to
      big projects, and teaming up with diverse folks to hit our business goals
      and keep our customers happy. I'm the kind of guy who loves a good
      challenge and thrives on growing professionally. Quick to learn and eager
      to take on new adventures, I'm all about adding value to my team and
      pushing the boundaries of what's possible in the digital landscape. So
      let's roll up our sleeves and make something amazing together!

    </p>
  </div>
</div>