<footer>
  <div class="footer">
    <ol>
      <li><a
          href="https://github.com/hnucamendi"
          target="_blank"
        >GitHub</a></li>
      <li><a
          href="https://linkedin.com/in/hnucamendi"
          target="_blank"
        >LinkedIn</a></li>
    </ol>
  </div>
</footer>
