<header>
  <div class="navbar sticky">
    <ol>
      <li><a href="/">Harold</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><button class="pointer-toggle">Toggle Pointer</button></li>
    </ol>
  </div>
</header>