<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="src/styles/style.css" />
  <link rel="stylesheet" href="src/styles/header.css" />
  <link rel="stylesheet" href="src/styles/body/aboutme.css" />
  <link rel="stylesheet" href="src/styles/body/newsapi.css" />
  <link rel="stylesheet" href="src/styles/util/section.css" />
  <link rel="stylesheet" href="src/styles/footer.css" />
  <title>Portfolio | Harold AN.</title>
</head>