<div class="news-api">
  <h1>~International Zone~</h1>
  <div class="selection">
    <div id="endpoints"></div>
    <label id="countries" for="select-countries">Countries</label>
    <select id="select-countries" name="select-countries"></select>
    <div id="articles"></div>
  </div>
</div>