<div class="projects" id="projects">
  <h2>Projects</h2>
  {{>projects/vim}}
  {{>projects/arch-linux}}
  {{>projects/webscraper}}
  {{>projects/tech-write-ups}}
  {{>projects/advent-of-code}}
  {{>projects/finance-tracker}}
  {{>projects/track-commits-R2H}}
</div>