.block-container {
  width: 120rem;
  height: 100vh;
  color: var(--t-color-main);
  margin: 5rem auto;
  padding: 10%;
  background-color: var(--bg-color-main);
  border: solid 0.1rem var(--bg-color-second);
  overflow: hidden;
}

.block-images img {
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  transition: 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.block-images img:hover {
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 40%;
  transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: var(--bg-color-second) 0px 0px 10px;
}
