.main-nav {
  --nav-gap: 2rem;
  --nav-margin: 2rem;
  --nav-min-height: 5vh;
  --nav-max-height: 10vh;
  --nav-fade-in-transition: 1.5s;
  --nav-fade-in-translate-Y: -20vh;
  --nav-fade-in-translate-X: 1vw;
  --nav-transition: 0.4s;
  --nav-right-element-transition: 1s;
  --nav-padding: 2.5rem;
  --nav-top-border-size: 0.2rem;

  position: sticky;
  top: 0;
  z-index: 999;
  min-height: var(--nav-min-height);
  max-height: var(--nav-max-height);
  font-size: var(--fs-main-h2);
  padding: var(--nav-padding);
  border-top: var(--nav-top-border-size) var(--bg-color-second) solid;
}

.main-nav ol {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: var(--nav-gap);
  --anim-index: 0;
}

.main-nav ol > li > a:link,
.main-nav ol > li > a:visited {
  color: var(--t-color-main);
  text-decoration: none;
}

.main-nav ol > li > a:active,
.main-nav ol > li > a:hover {
  transition: var(--nav-transition) cubic-bezier(0.65, 0.05, 0.36, 1);
  color: var(--t-color-hover);
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(var(--nav-fade-in-translate-Y));
    font-size: var(--fs-main-h5);
  }
  50% {
    transform: translateX(var(--nav-fade-in-translate-X));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.main-nav > ol > li {
  margin-left: var(--nav-margin);
  animation: fade-in var(--nav-fade-in-transition) cubic-bezier(0.4, 0, 0.2, 1)
    both;
  animation-delay: calc(0.1s * var(--anim-index));
}

.main-nav > ol > li:nth-child(1) {
  --anim-index: 1;
}
.main-nav > ol > li:nth-child(2) {
  --anim-index: 2;
}
.main-nav > ol > li:nth-child(3) {
  --anim-index: 3;
}
.main-nav > ol > li:nth-child(4) {
  --anim-index: 5;
}

.main-nav ol > li.align-right {
  font-family: "Libre Barcode 39 Text";
  margin-right: var(--nav-margin);
  margin-left: auto;
}

.main-nav ol > li.align-right > a:link,
.main-nav ol > li.align-right > a:visited {
  transition: var(--nav-right-element-transition) ease-in-out;
  font-size: var(--fs-main-h1);
}
.main-nav ol > li.align-right > a:hover {
  transition: var(--nav-right-element-transition) ease-in-out;
}

.main-nav ol li a[aria-current="true"] {
  text-decoration: line-through;
  opacity: 0.22;
  transition: var(--nav-transition) ease-in-out;
  color: var(--t-color-second);
}
