.main-footer {
  --footer-gap: 2rem;
  --footer-margin: 2rem;
  --footer-min-height: 5vh;
  --footer-max-height: 10vh;
  --footer-fade-in-transition: 1.5s;
  --footer-fade-in-translate-Y: -20vh;
  --footer-fade-in-translate-X: 1vw;
  --footer-transition: 0.4s;
  --footer-right-element-transition: 1s;
  --footer-padding: 2.5rem;
  --footer-top-border-size: 0.2rem;

  min-height: var(--footer-min-height);
  max-height: var(--footer-max-height);
  font-size: var(--fs-main-h2);
  padding: var(--footer-padding);
  border-top: var(--footer-top-border-size) var(--bg-color-second) solid;
}

.main-footer ol {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: var(--footer-gap);
  --anim-index: 0;
}

.main-footer ol > li,
.main-footer ol > li {
  color: var(--t-color-main);
  text-decoration: none;
}
